<ion-modal-view>
    <ion-header-bar>
        <h1 class="title1">How to play</h1>
    </ion-header-bar>
    <ion-content class="padding background">
        <img src="img/close.png" ng-click="closeModal()" style="width:5%;float:right;">

        <ion-slide-box>

            <ion-slide on-swipe-left="onSwipeLeft()">
                
                    <h5 class="steptext">Step-1</h5>
            
                <div class="firststep">

                    <center> <img src="img/magicimage.png" class="magicimage" style="width:65%">
                    </center>
                    <h4>TRICK YOUR FRIENDS</h4>
                    <br>
                    <div class="row">
                        <div class="col col-33">
                            <img src="img/predict.png" class="images">
                        </div>
                        <div class="col col-67">
                            <p class="instrucions">On this page you put in a number between 1-10 and then click on play.</p>
                        </div>
                    </div>

                </div>
            </ion-slide>

            <ion-slide on-swipe-right="onSwipeRight()">
               
                    <h5 class="steptext">Step-2</h5>
                
                <div id="secondstep">
                    <center> <img src="img/play.png" class="magicimage">
                    </center>
                    <center><p class="instrucions">Now hand over the phone to your friend and then play as instructed.The final card will be what you inserted in step-1</p></center>
                    <h6>They don't believe you?</h6>
                    <center><img src="img/predicted.png" class="magicimage">
                    </center>
                    <h4>Show them the number you punched in.</h4>

                    <center>
                        <button ng-click="closeModal()" class="button button-dark bottombutton" style="width:90%">I GOT IT !</button>
                    </center>
                  <br>  

                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="steptext" ng-class="{slidebuttons : slideone, slidebuttons2 : !slideone }">
        </div>
    </ion-content>
</ion-modal-view>