<ion-modal-view>
    <ion-header-bar>
      <h1 class="title" >How to play</h1>
    </ion-header-bar>
    <ion-content >
    
    
        <ion-slide-box >
  <ion-slide>
    <div class="firststep">
        <h4 >TRICK YOUR FRIENDS</h4>
         <p class="instrucions">On this page you put in a number between 1-10 and then click on play.</p>
         <!--<a href="#secondstep" >     <button>Step-2</button></a>-->
        </div>
  </ion-slide>
  <ion-slide>
      <div id="secondstep">
          <p class="instrucions" >Now hand over the phone to your friends and them play as instructed.The final card will be what you inserted in step-1.<br>They don't believe you?<br>Show them the number you punched in. </p>
          
        <center>  <button ng-click="closeModal()" class="button button-dark bottombutton">I GET IT !</button></center></div>  
  </ion-slide>
  
</ion-slide-box>
    </ion-content>
  </ion-modal-view>