<ion-view view-title="Chats">
 <ion-content class="padding">
      <div ng-repeat="x in array" class="array" ng-click="magic($index)" ng-class="{redball: jyoti[$index], yellowball: !jyoti[$index]}">{{x}}</div>
     </br>
     </br>
     <div ng-repeat="y in select" class="array" ng-click="magic($index)" ng-class="{redball: jyoti2[$index], yellowball: !jyoti2[$index]}">{{y}}</div>
    
       <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
    -->
    
    </ion-content>
</ion-view>