<ion-view view-title="Predictor">
    <!--<ion-nav-bar class="nav-bar-container bar-stable">-->
        <ion-header-bar align-title="center" class="bar-stable">
            <h1 class="title">JYOTI</h1>
        </ion-header-bar>
    <ion-content class="padding bg">
        <!--<div class="list card">-->
        <!--<div class="item item-divider">Recent Updates</div>-->
        <!--<div class="item item-body">
                <div>-->
        <input type="number" ng-model="number.input" class="textinput" ng-change="change()">

        <h4 class="headings">Insert number between 1 to 10</h4>
    </ion-content>
</ion-view>